<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LookLab - Home</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="../public/images/LookLabHeader.png" alt="LookLab Logo" class="logo">
        </div>
    </header>

    <main class="home-container">
        <button class="home-button" onclick="location.href='planner.html'">
            <img src="../public/images/NewButton.png" alt="New Fit">
            New Fit
        </button>
        <button class="home-button" onclick="location.href='wardrobe.html'">
            <img src="../public/images/WardrobeButton.png" alt="View Wardrobe">
            View Wardrobe
        </button>
        <button class="home-button" onclick="location.href='saved.html'">
            <img src="../public/images/SavedButton.png" alt="Saved Fits">
            Saved Fits
        </button>
    </main>
    <script src="../public/scripts.js"></script>
</body>
</html>
